
html {
    color: #1c1c1c;
    width: 100%;
}

body {
    font-family: Fira Sans, Noto Sans, Roboto Slab, Noto Serif, Fira Sans, Arial;
    font-weight: normal;
    font-size  : 22px;
}

nav {
    width: 100%;
    display: inline-block;
    float: center;
}

nav ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0; }

nav li {
    display: inline-block;}

nav .nav-right .nav-item {
    text-decoration: none;
    font-family: Fira Sans, Ubuntu, Merriweather Sans, Noto Sans, Lucida Console, Monaco, monospace;
    font-size: 30px;
    font-weight: medium;
    font-variant: small-caps;
    float: center;
    padding-top: 10px;
    padding-right:2px;
    padding-left:2px;
    padding-bottom:5px;
    margin-left:20px;
    margin-right:0px;
    transition: color 0.3s ease; }

nav .nav-left .nav-item {
    text-decoration: none;
    font-family: Fira Sans, Ubuntu, Merriweather Sans, Noto Sans, Lucida Console, Monaco, monospace;
    font-size: 30px;
    font-weight: medium;
    font-variant: small-caps;
    float: center;
    padding-top: 10px;
    padding-right:2px;
    padding-left:2px;
    padding-bottom:5px;
    margin-left:0px;
    margin-right:0px;
    transition: color 0.3s ease;
}

.course-tabs > ul > li {
    float: center;
    padding-top: 5px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:50px;
    margin-left:0px;
    margin-right:0px;
    transition: color 0.5s ease;    
}

.course-tabs > ul > li.inactive > a{
    text-decoration: none;
    font-family: Fira Sans, Ubuntu, Noto Sans, Lucida Console, Monaco, monospace;
    font-size: 26px;
    font-weight: medium;
    font-variant: all-small-caps;
}

.course-tabs > ul > li.active > a{
    text-decoration: none;
    font-family: Fira Sans, Ubuntu, Noto Sans, Lucida Console, Monaco, monospace;
    font-size: 26px;
    font-weight: medium;
    font-variant: all-small-caps;
    background-color: #acdcca;
}


.avatar img {
    width: 100%;
    float: left;
    max-width: 350px;
    max-height: 370px;
    padding-left: 0;
    padding-bottom: 0px;
    border-radius: 10px; }

.section {
    padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Noto Sans, Ubuntu;
    font-weight: medium;
/*    font-variant: all-small-caps; */
}

a {
    color : #1765a6;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color : #1c1c1c;
}

.stacked {
    padding-top: 40px;
    padding-bottom: 40px;
}

#icon {
    vertical-align: middle;
}
