<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
  {{ if ishome }}
  <link rel="stylesheet" href="/css/default.css">
  {{ else }}
  <link rel="stylesheet" href="/css/default.css">
  {{ end }}
  <title>Theodoulos Garefalakis</title>
</head>
<body>
  {{insert header.html}}

<!-- Content appended here -->
