<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="container">
<nav class="nav">
    <div class="nav-left">
      <a href="/" class="nav-item">Theodoulos Garefalakis</a>
    </div>        
    <div class="nav-right nav-menu">
      <a href="/" class="nav-item">Home</a>
      <a href="/content/teaching/" class="nav-item">Teaching</a>
      <a href="/content/research/" class="nav-item">Research</a>
    </div>
</nav>
<br> <br>
  {{ ifdef title }}
  <div class="block">
    <h1 class="title is-1"> {{ fill title }} </h1>
    <hr>
  </div>
  {{ end }}

  {{ if ishome }}
    {{ insert index.html }}
  {{ end }}

  {{ if iscourse }}
  <div class="tabs is-toggle is-fullwidth course-tabs">
  <ul>
    <li class={{ if isinfo }} "active" {{ else }} "inactive" {{ end }}>
      <a href={{ fill info }}>
        <span>Πληροφοριες</span>	
      </a>
    </li>
    <li class={{ if iscalendar }} "active" {{ else }} "inactive" {{ end }}>
      <a href={{ fill calendar }}>
        <span>Ημερολογιο</span>
      </a>
    </li>
    <li class={{ if ismaterial }} "active" {{ else }} "inactive" {{ end }}>
      <a href={{ fill material }}>
        <span>Διδακτικο Υλικο</span>
      </a>
    </li>
  </ul>
  </div>  
  {{ end }}
</div>

<script>
  $tabs-toggle-link-radius = 20px
</script>
